
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@700&display=swap');


body
{
    background-color:#393e46 ;
    font-family: 'Bebas Neue';
    padding: 0rem;
    margin: 0rem;
}

.navigation
{
    background-color:#222831 ;
    color: white;
    padding:0.5rem;
    
}

.link
{
    text-decoration: none;
    padding: 0.5rem 1rem;
    color:  #f96d00;
    letter-spacing: 0.07rem;
}


.unorder-list 
{
    text-align: right;
    list-style: none;
}

.item-list
{
    display: inline;
    padding: 0rem 2rem;
}

.brand
{
    position: absolute;
    left: 2%;
    top: 0.05%;
}

.img
{
    background-color: #222831;
    width: 20rem;
    position: relative;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    margin: auto;
    left: 1%;
    top: 13%;
}

.hi
{
    font-family: 'Montserrat';
    color: white;
    position: absolute;
    left: 22rem;
    top:11rem;
}

.about
{
    font-family: 'Montserrat';
    color: white;
    position: absolute;
    left: 22rem;
    top: 17rem;
}

.bca
{
    font-family: 'Bebas Neue';
    color: #f96d00;
    letter-spacing: 0.07rem;

}

.pdf
{
    font-family: 'Bebas Neue';
    color: #f96d00;
    letter-spacing: 0.07rem;
    position: absolute;
    left: 22rem;
    top: 30rem;
}
.tech
{
    color: #f96d00;
    letter-spacing: 0.07rem;
     position: relative;
    text-align: center;
    top: 35rem;
    
}

.text
{
    text-align: center;
    color: white;
    font-family: 'Montserrat';

}

.footer
{
    background-color: #f96d00;
    letter-spacing: 0.07rem;
    position: relative;
    top:35rem;
    
}

.footer-header
{
    text-align: center;
}


.footer-list
{
    text-align: center;
}

.logo-size
{
    width: 1.5rem;
}

.footer-item-list
{
    display: inline;
    padding: 0.5rem;
}

.background
{
    width: 78rem;
    max-height: 40rem;
    position: absolute;
    opacity: 0.1;
}

.link-active
{
    font-weight: bold;
}

.grid-container {
  display: grid;
  height:500px;
  align-content: center;
  grid-template-columns: auto auto;
  gap: 50px;
  background-color: #393e46;
  padding: 100px;
  width: 50rem;
}

.grid-container > div {
  background-color: #222831;
  padding: 30px;
  /* width: 25rem; */
  font-family: 'Montserrat';
  color: white;
  border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.tag-note
{
    
}


